.search-list {
    background-color: white;

    display:inline-block;
    min-width: 35rem;
    position:relative;
    border-radius:2px;
    border:1px solid black;
    padding: 1rem;


    h2 {
        position:absolute;
        top: -1.3rem;
        left: 5rem;
        background-color: white;
        font-style:italic;
    }


    & .searchBox {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        width:20rem;

        & input {
            line-height: 2.5rem;
            width: 20rem;
            font: inherit;
            font-size:15px;
            padding:0.5rem;
        }
    }



    .all {
        border: 1px solid black;
        border-bottom:none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width:20.1rem;

        .checkbox-all {
            font-size: large;
            margin-left:0.5rem;

            & input {
                margin-right: 0.5rem;
            }
        }
        a {
            display:block;
            font-size:1.5rem;
            margin-left:0.2rem;
            margin-right:0.5rem;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    & .search-item-lists {
        display:flex;

        & .items {
            margin-top: 0;
            border: 1px solid black;
            border-right:none;
            width:20rem;
            overflow-y:auto;
            height:43rem;

            & .empty {
                font-size:medium;
                padding-left:0.5rem;
            }

            &.small {
                grid-template-columns: 1fr;
                grid-gap: 0.1rem;
            }



        }

        & .search-selected-items {
            margin-top: 0;
            border: 1px solid black;
            overflow-y:auto;
            height:43rem;
            & .empty {
                font-size:medium;
                padding-left:0.5rem;
            }

            &.small {
                grid-template-columns: 1fr;
                grid-gap: 0.1rem;
            }

        }   
    }
}