.dropdown {
    position: relative;
    background-color: #1b4297;
  }

  .trigger {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .trigger-unit {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right:  3rem;
    background-color: #1b4297;
    padding-bottom: 1rem;
    padding-left: 2rem;
    z-index:10;
  }


  .trigger label {
    display: block;
    height:3rem;
    font-size: 2rem;
    color: white;
    margin: 0.5rem 0;
    padding-left:1.5rem;
  }

  .trigger button  {
    background-color: white;
    width: 15rem;
    height:3rem;
    outline: 2px solid black;
  }

  .menu {
    position: absolute;
    left: 1rem;
    list-style-type: none;
    margin: 5px 2rem 0 5px;
    padding: 0;
    border: 1px solid grey;
    width: 15rem;

  }
  
  .menu > li {
    margin: 0;
  
    background-color: white;
  }
  
  .menu > li:hover {
    background-color: lightgray;
  }
  
  .menu > li > button {
    width: 100%;
    height: 100%;
    text-align: left;
  
    background: none;
    color: inherit;
    border: none;
    padding: 5px;
    margin: 0;
    font: inherit;
    cursor: pointer;
  }