$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;
$color-grey-dark-4: #222;

$color-white:#fff;
$color-black:#000;


$color-primary:#55c57e;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;

$color-secondary-light:#ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light:#2998ff;
$color-teriary-dark:#5643fa;
