@import "../../sass/abstracts/variables";

.nav {
    height:6rem;

    display:flex;
    justify-content: space-between;
    background-image: linear-gradient($color-tertiary-light, $color-tertiary-dark);
    



    &__ascension-logo {
        display:flex;
        align-items: center;
        height:6rem;
        margin-left: 3rem;
        margin-bottom: 1rem;
        img {
            height:80%;
            padding-right:2rem;
        }
        .nav__clincialstudio {

            font-family: 'Dancing Script', sans-serif;
            font-size:4.5rem;
            font-weight: 500;
            color:$color-grey-dark-4;
        }
    }



    &__seamless-logo {
        font-size:3rem;
        margin-right:18rem;
        color: $color-grey-dark-4;
    }

    &__links-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        margin-right:8rem;

    }

    &__link:link,
    &__link:visited{
        font-size:1.5rem;
        color:$color-secondary-dark;
        margin-right:2rem;
    }

    &__link:hover,
    &__link:active {
        color:$color-secondary-light; 
    }

}