.range-selectors {
    display:flex;
    padding:1rem;
    border: 1px solid black;
    min-width: 35rem;
    position:relative;
    border-radius:2px;
    
    h2 {
        position:absolute;
        top: -1.3rem;
        left: 5rem;
        background-color: white;
        font-style:italic;
    }

    & .range-selector {
        padding-top:1rem;
        width: 25rem;



        & .react-datepicker__input-container{
          input{
            font-size: 15px;
            padding:0.2rem;
            }
         }
        label {
            display: block;
            font-size: 15px;
        }
    }
}