@import '../../sass/abstracts/variables';


.utilization-container {
    position:relative;
}


.utilization {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:1rem;
    max-width: 50rem;
    border:5px;
    position:relative;


    & .patient__calendar {
        color:white;

        & .selector {

            label {
                color:white;
            }

            color:grey;
            max-width:12rem;
            margin: 0 2rem;
        }


    }
}