@import "../../sass/abstracts/variables";

.fin-careteam {

    border: 1px solid $color-black;
    // max-height:90rem;


    &__header {
        background-color: $color-primary-light;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;


        & h2 {
            border: 1px solid $color-black;
        }

        & h2:not(:last-child){
            border-right:none;
        }
    }
}