@import '../../sass/abstracts/variables';

.fincareteam {
    max-width: 60rem;
    margin: 1rem auto;


    &__table-outline {
        box-shadow: 2px 2px 6px rgba($color-black,.2);

    }


    &__header {
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: $color-primary-dark;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--item {
            // background-color: $color-primary-dark;
            color:$color-grey-dark-4;
            text-transform: uppercase;
            text-align:center;
            font-size:1.5rem;
            padding:2rem;
    }


    }

}