@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.teamcard {
  @include absCenter;
  width: 70%;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  background-color: $color-white;
  border-radius: 3px;

  background: linear-gradient(to right bottom, $color-primary, #9198e5, #e18484);
//   background: linear-gradient(to right bottom, $color-primary, #9198e5, #e66465);
//   background: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);

  &__heading {
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: $color-grey-dark-4;

    &--main {
        display:block;
    }

  }

  &__head {
    display:inline-block;
    background-color: $color-white;
    margin:0 auto;

    &--item {
        display:inline-block;
    }
  }

}
