@import "../../sass/abstracts/variables";

.summary-grid {
  max-width: 60rem;
  margin: 0.5rem auto;
  // margin-right:7rem;

  .outline {
    // border: 1px solid $color-black;
    box-shadow: 2px 2px 6px rgba($color-black, 0.2);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-primary-dark;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--item {
      // background-color: $color-primary-dark;
      color: $color-grey-dark-4;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.5rem;
      padding: 2rem;
    }
  }
}
