@import "../../sass/abstracts/variables";

.summary-grid {
  max-width: 60rem;
  // margin: 0.5rem auto;
  // margin-right:7rem;

  .outline {
    // border: 1px solid $color-black;
    box-shadow: 2px 2px 6px rgba($color-black, 0.2);
  }

  .header {
    font-family:'Cabin';
    font-size:2rem;
    font-weight:400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00A393;;
    color:$color-white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--item {
      // background-color: $color-primary-dark;
      color: $color-grey-dark-4;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.9rem;
      font-weight:400;
      color:$color-white;
      padding: 2.1rem;
    }
  }
  .pagination-bar {
    .pagination-item  {
        color:#00a896;
    }
}
}
