.settings {

    & .set-all {
        display: flex;
        flex-direction: row;
    }



   & .time-setting{
        font-size: medium;
        & h3 {
            margin-left: 5rem;
        }
    }

    & .units {
        padding-left: 3rem;
        padding-top: 1rem;
        width:25rem;
    }

    & .prime-time {
        width: 40rem;
        margin-left:5rem;
        margin-bottom:5rem;
        // margin-top:5rem;
    }

    // .select-unit-container {
    //     min-height: 30rem;
    & .sel-unit {
        display:block;
        margin-left: 3rem;
        height:100%;
    }
    // }


    & .date-range {
        width: 40rem;
        margin-left:5rem;
        margin-bottom:3rem;
        // margin-top:3rem;
    }

    & .list-selectors {
        display:grid;
        grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
        grid-gap: 3rem;
        padding-left: 5rem;
        margin-top:3rem;

        & .OR-Rooms {
            padding-top:5.5rem;
            width:30rem;
        }

        & .selected {
            padding-top: 1rem;
            & .all {
                height:4rem;
                margin-bottom:0.5rem;
                border-bottom: 1px solid black;
            }
        }
    }

    & .provider-search-list{
        display:inline-block;
        width:50rem;
        padding-left:2rem;
    }


}