.time-setting{
    font-size: medium;
    & h3 {
        margin-left: 5rem;
    }
}

.list-selectors {
    // display:grid;
    // grid-template-columns: 1fr 0.5fr 1fr;
    // grid-template-rows: 1fr;
    // grid-gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1rem;

    & .rooms {
        margin-top: 1rem;
    }

    & .searchbox {
        // padding-top:2rem;
    }

}