@import "../../sass/abstracts/variables";

.placard {
    background-color: white;
    color:$color-grey-dark-4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width:100%;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    padding: 1rem 0 1rem 0;
    transition: all 0.3s;
    border-radius:3px;

    &.selected {
        background-color: red;
        pointer-events: none;
    }

    &:hover:not(&.selected) {
        transform: translateY(-3rem) scale(1.1);
        box-shadow: 2px 4px 8px rgba(0,0,0,.4);
        cursor: pointer;
    }
    &:active:not(&.selected){
        transform: translateY(2rem) scale(0.9);
    }

    .title {
        display:inline-block;
        text-transform: uppercase;
        font-size:1.8rem;
        pointer-events: none;
    }


    .focus {
        display:inline-block;
        font-size:4rem;
        font-weight: 800;
        color:$color-grey-dark-4;
        pointer-events: none;
    }

    .subtitle {
        display:inline-block;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        pointer-events: none;
    }
    

}