@import '../../sass/abstracts/variables';


.calendar {
        margin-left:3rem;

        &__heading {
            background-color: $color-primary-dark;
            color:$color-grey-dark-4;
            text-transform: uppercase;
            text-align:center;
            font-size:2rem;
            padding:2rem;
            box-shadow: 2px 4px 8px rgba($color-black, 0.2);
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

        }

        &__layout{
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            column-gap: 2rem;
            row-gap: 4rem;
            background-color: $color-primary-light;
            padding:2rem;
            box-shadow: 2px 4px 8px rgba($color-black, 0.2);
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }


}