@import '../../sass/abstracts/variables';


.calendar {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;
    background-color: $color-primary-light;
    padding:2rem;
}