.month-control {
    font-size: 2.3rem;
    background-color: #1b4297;
    color:white;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:center;
    padding-bottom:1rem;

   

 & .month {
    padding: 0 1rem;
 }
 & .back-arrow {
    height: 25px;
    width: 25px;

    .disabled {
        pointer-events: none;
        cursor: pointer;
    }
     
    button {
        background-color: #1b4297;
        outline: none;
    }


    & .back-arrow-container {
        // height: 25px;
        // width: 25px;
 
        & img {
            width:100%;
            height:100%;
            
        }
    }

 }

}