@import "../../sass/abstracts/variables";
@import "../../sass/abstracts/mixins";

.blockdetailcards {
  @include absCenter;
  width: 70%;
  top:50%;
  left:50%;
  box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
  background-color: $color-white;
  border-radius: 3px;
  opacity: 1;
  // display:none;
  visibility: visible;
  transform: translate(-50%,-50%);
  transform: translate(-50%,-50%) scale(0);
  transition: all 0.4s 0.2s;
  // animation: popup-appear 0.5s;
  

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
  }

  // &.close {
  //   top:0;
  //   left:0;

  // }



  // &__popup {
  //   opacity:0;
  //   visibility: hidden;

  //   &.open {
  //     opacity:1;
  //     visibility: visible;
  //   }
  // }
  



  // background: linear-gradient(to right bottom, $color-primary, #9198e5, #e18484);
  // background: linear-gradient(to right bottom, $color-primary, #9198e5, #e66465);
  // background: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);




//   &__heading {
//     padding-top: 1rem;
//     font-size: 3rem;
//     font-weight: 600;
//     text-align: center;
//     color: $color-grey-dark-4;

//     &--main {
//         display:block;
//         line-height:0.8;
//     }

//   }

//   &__head {
//     display:inline-block;
//     background-color: $color-white;
//     margin:0 auto;

//     &--item {
//         display:inline-block;
//     }
//   }

  &__pagination {
    
    margin-bottom: 2rem;

  }

  .pagination-container{
    .pagination-item {
      color:#1e69d2;
    }
  }
}