.open-time_display {


    & .open-time-display--header-container{
        display:grid;
        grid-template-columns: 1fr 4fr;
        font-size:14px;
        color:black;
        justify-content: space-between;
        min-width:55rem;
        height: 3rem;
        border-bottom:1px solid black !important;


    & .open-time-display--room {
        border:1px solid black;

    }

        & .open-time-display--header {
            display: grid;
            grid-template-columns: 3fr 1fr 1fr 1fr 2fr;
            border:1px solid black;

            & .open-time-display--room-container {
                border: 1px solid black;
            }
            & .column-heading {
                border:1px solid black;
                padding: 0 1rem; 
            }

        }
    }   


}