.list-selector {
    background-color: white;
    margin-left:2.5rem;
    width: 35rem;
    &.small {
        width:20rem;
    }

    & .searchBox {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        width:20rem;

        & input {
            line-height: 2.5rem;
            width: 20rem;
            font: inherit;
            font-size:15px;
            padding:0.5rem;
        }
    }



    .all {
        // margin-bottom:1rem;
        border: 4px solid black;
        border-bottom:none;

        .checkbox-all {
            font-size: large;
            margin-left:0.5rem;

            & input {
                margin-right: 0.5rem;
            }
        }
        a {
            display:block;
            font-size:1.5rem;
            margin-left:0.3rem;
        }
        a:hover {
            text-decoration: underline;
        }
    }

    & .items {
        display:grid;
        margin-top: 0;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        border: 3px solid black;

        & .empty {
            font-size:medium;
            padding-left:0.5rem;
        }

        &.small {
            grid-template-columns: 1fr;
            grid-gap: 0.1rem;
        }

    }
}