.list-items {
    & label {
        font-size:medium;
        padding-left:0.5rem;
        padding-right:0.5rem;

        & input {
            margin-right:0.5rem;
        }

    }

}

.list-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    padding:0 1rem;

    & .list-item {
        padding: 0 1rem;
    }

    a {
        color:grey;
    }

    a:hover {
        text-decoration: underline;
    }

}
