@import "../../sass/abstracts/variables";

.providercard-grid {
  font-size: 1.2rem;
  font-weight: 600;
  width: 80%;
  margin: 2rem auto;
  color: $color-grey-dark-3;

  .header {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr 1fr;

    border: 2px solid $color-black;
    text-align: center;
    color: $color-white;
    background-color:#1b4297;

    &--item {
      font-weight: 800;
    }

    &--item:not(:last-child) {
      border-right: 2px solid $color-black;
    }
  }

}
