@import '../../sass/abstracts/variables';

.providercardhead {

    color:$color-grey-dark-3;
    width:80%;
    margin:0 auto;
    font-size: 1rem;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;



        .item{
            color:$color-grey-dark-3;
            font-weight: 400;

    
            &--name {
                color:$color-grey-dark-4;
                font-weight: 800;
                margin-right:1rem;
    
            
            }
        }

    }



}