@import '../../sass/abstracts/variables';




.block-container {
    position:absolute;
    
    & .spinner {
        & h1 {
            color:#00a896; 
        }

        & .loading {
            border: 3px solid #00a896;
            border-top-color: #fff;
        }
    }
}

.blocks{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top:1rem;
    max-width: 50rem;
    border:5px;


    & .block__calendar {
        color:white;

        & .selector {

            label {
                color:white;
            }

            color:grey;
            max-width:12rem;
            margin: 0 2rem;
        }
        & .heading {
            background-color:#00a896; 
        }
        & .header-title {
            background-color:#00a896;
        
        }
        .daysofweek {
            background-color:#1c756c;
        }

        & .selected.highLightSelected{
            color:#00a896; 
        }


        .layout {
            background-color:#095a52;
        }
    }

    & .block__info {

        & .summary-grid .header--item {
            background-color: #1b4297;
        }
    }
}