.statsummary {
    outline: 2px solid black;
    padding: 2rem;
    margin:2rem;
    position:relative;
    


    & .statsummary-title {
        position:absolute;
        top: -1.3rem;
        left: 5rem;
        background-color: white;
        font-style:italic;
        font-size:large;
        color: black;
    }


    & .statsummary-statcards{
        display:flex;
        justify-content: center;
        

    }
    & .statsummary-statcard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        margin:3rem;
        // margin:1rem;
        // padding:1rem;
        // display:flex;
        // flex-direction: row;
        // justify-content: space-around;
    }
}