.statsummary {
    outline: 2px solid black;
    padding: 2rem;
    margin:2rem;
    position:relative;
    


    & .statsummary-title {
        position:absolute;
        top: -1.3rem;
        left: 5rem;
        background-color: white;
        font-style:italic;
        font-size:large;
        color: black;
    }


    & .statsummary-statcards{
        display:flex;
        justify-content: center;
        
        & .statcards-daily {
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
    
            & .starcard-daily {
                & .statcare-daily--header {
                    text-align: center;
                    
                }
    
                padding: 1rem;
                display:flex;
                flex-direction:column;
                justify-content: space-between;
            }
        }

    }
    & .statsummary-statcard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 3rem;
        margin:3rem;
        // margin:1rem;
        // padding:1rem;
        // display:flex;
        // flex-direction: row;
        // justify-content: space-around;
    }
    .statcard {
        color: black;
        width: 100%;
        font-size:13px;
        margin:1rem;
    
         & .statcard-header {
            font-size: large;
            font-weight: bold;
            margin: 0 auto;
            text-align: center;
        }
    }

}